<h1>Home: Listado de productos</h1>
    <ul id="realTimeProducts">
        {{#each products}}
        <li>
            <strong>{{ this.title }}</strong>: {{ this.description }} - ${{ this.price }} - id: {{ this._id }}
        </li>
        {{/each}}
    </ul>


   <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>