<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Aquí puedes incluir tus archivos CSS -->

</head>
<body>

<!-- Header -->
{{!-- {{> header}} --}}

<!-- Contenido de la página -->
{{{body}}} <!-- El contenido de la página será inyectado aquí -->

<!-- Footer -->
{{!-- {{> footer}} --}}

<!-- Aquí puedes incluir tus archivos JavaScript -->

</body>
</html>
